name: Go build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version-file: 'go.mod'

    - name: Gofmt
      run: ./scripts/gofmt.sh

    - name: Build
      run: go build ./...

    - name: Staticcheck
      uses: dominikh/staticcheck-action@v1.4.0
      with:
        version: "latest"
